$mirosa:#CA949D;
$migris:#CAC4C4;
$miblanco: white;
$mirojo: #B80000;
$minegro: black;
$fuenteprincipal:Montserrat;

h2 {
	color:$mirosa;
	font-family: $fuenteprincipal;
	font-size:60px;
}

body{
	background-color:$migris;
}

.parrafo__uno {
	color: $mirosa;
}

.parrafo__dos {
	color: $miblanco;
}

.parrafo__dos__parte--a {
	text-transform:uppercase;
	color:$miblanco;
}

.parrafo__tres {
	color: $mirojo;
}

.titulo {
	font-family: Montserrat;
	color: $mirosa;
}

.volver {
	font-family:montserrat;
	color:$minegro;
}


.flor {
	width: 270px;
	height:320px;
	padding-left: 15px;
	padding-right:15px;
}

.avion {
	width:270px;
	height:320px;
	padding-left: 15px;
	padding-right:15px;
}

.calesita {
	width:270px;
	height:320px;
	padding-left: 15px;
	padding-right:15px;
}

.flor2 {
	width:270px;
	height:320px;
	padding-left: 15px;
	padding-right:15px;
	}

.volver{
	font-family:montserrat;
	font-size:20px;
	margin-top:15px;
	color:$mirosa;
}

.cuadrado {
	width: 330px;
	height: 290px;
	padding-left: 15px;
	padding-right: 15px;
}

.publimoda {
	width: 310px;
	heigth: 470px;
	padding-left:5px;
	padding-right: 5px;
}